<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QDMSServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <QDMSServer.Properties.Settings>
      <setting name="ibClientHost" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="ibClientPort" serializeAs="String">
        <value>7496</value>
      </setting>
      <setting name="ibClientID" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ibClientRequestCounter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dbHost" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="instrumentsGridLayout" serializeAs="String">
        <value />
      </setting>
      <setting name="rtDBPubPort" serializeAs="String">
        <value>5557</value>
      </setting>
      <setting name="rtDBReqPort" serializeAs="String">
        <value>5556</value>
      </setting>
      <setting name="instrumentServerPort" serializeAs="String">
        <value>5558</value>
      </setting>
      <setting name="hDBPort" serializeAs="String">
        <value>5555</value>
      </setting>
      <setting name="logDirectory" serializeAs="String">
        <value>C:\QDMSLog\</value>
      </setting>
      <setting name="dbUsername" serializeAs="String">
        <value>username</value>
      </setting>
      <setting name="dbPassword" serializeAs="String">
        <value>password</value>
      </setting>
    </QDMSServer.Properties.Settings>
  </userSettings>
  

  <system.data>
    <DbProviderFactories>
      <!--<remove invariant="Devart.Data.MySql" />
      <add name="dotConnect for MySQL" invariant="Devart.Data.MySql" description="Devart dotConnect for MySQL" type="Devart.Data.MySql.MySqlProviderFactory, Devart.Data.MySql, Version=7.7.301.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
     -->
     <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description="ADO.Net driver for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.2.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />

    </DbProviderFactories>
  </system.data>
  
  <entityFramework>
    <providers>
      <!--
      <provider invariantName="Devart.Data.MySql" type="Devart.Data.MySql.Entity.MySqlEntityProviderServices, Devart.Data.MySql.Entity, Version=7.7.301.6, Culture=neutral, PublicKeyToken=09af7300eec23701" >
      </provider>
      -->
      <provider invariantName="MySql.Data.MySqlClient"
             type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <!--<add name="qdmsEntities1" connectionString="Host=127.0.0.1;Database=qdms;Persist Security Info=True" providerName="Devart.Data.MySql" />
    -->
    <add name="qdmsEntitiesMySql" connectionString="" providerName="MySql.Data.MySqlClient" />

  </connectionStrings>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


</configuration>