<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QDMSServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="NLog.config" />
      </factoryAdapter>
    </logging>
  </common>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="ServerScheduler" />
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="10" />
    <add key="quartz.threadPool.threadPriority" value="2" />
    <add key="quartz.jobStore.misfireThreshold" value="60000" />
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz" />
  </quartz>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <QDMSServer.Properties.Settings>
      <setting name="ibClientHost" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="ibClientPort" serializeAs="String">
        <value>7496</value>
      </setting>
      <setting name="ibClientRequestCounter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mySqlHost" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="instrumentsGridLayout" serializeAs="String">
        <value />
      </setting>
      <setting name="rtDBPubPort" serializeAs="String">
        <value>5557</value>
      </setting>
      <setting name="rtDBReqPort" serializeAs="String">
        <value>5556</value>
      </setting>
      <setting name="instrumentServerPort" serializeAs="String">
        <value>5558</value>
      </setting>
      <setting name="hDBPort" serializeAs="String">
        <value>5555</value>
      </setting>
      <setting name="logDirectory" serializeAs="String">
        <value>C:\QDMSLog\</value>
      </setting>
      <setting name="mySqlUsername" serializeAs="String">
        <value>username</value>
      </setting>
      <setting name="mySqlPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="quandlAuthCode" serializeAs="String">
        <value />
      </setting>
      <setting name="databaseType" serializeAs="String">
        <value />
      </setting>
      <setting name="sqlServerHost" serializeAs="String">
        <value />
      </setting>
      <setting name="sqlServerUseWindowsAuthentication" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sqlServerUsername" serializeAs="String">
        <value>username</value>
      </setting>
      <setting name="sqlServerPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="histClientIBID" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="rtdClientIBID" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="updateJobReportErrors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="updateJobReportOutliers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="updateJobReportNoData" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="updateJobTimeout" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="updateJobEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="updateJobEmailHost" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="updateJobEmailUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="updateJobEmailPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="updateJobEmailPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="updateJobEmailSender" serializeAs="String">
        <value />
      </setting>
      <setting name="updateJobTimeouts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="forexFeedAccessKey" serializeAs="String">
        <value />
      </setting>
    </QDMSServer.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data,           Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="qdmsEntities" connectionString="" providerName="MySql.Data.MySqlClient" />
    <add name="qdmsDataEntities" connectionString="" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.3.0" newVersion="6.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AsyncIO" publicKeyToken="44a94435bd6f33f8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.1.25.0" newVersion="0.1.25.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>