<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">
  <extensions>
    <add assembly="QDMSServer"/>
  </extensions>

  <variable name="appName" value="QDMSServer" />

  <targets>
    <target xsi:type="File"
            name="default"
            layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="C:\QDMSLog\Log.log"
            keepFileOpen="false"
            archiveFileName="C:\QDMSLog\${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
            />
           

    <target name="myTarget" xsi:type="MemoryTarget" layout="${longdate}|${level:uppercase=true}|${message}"></target>

  </targets>
  <rules>
    <logger name="*" writeTo="myTarget" minlevel="Info" />
    <logger name="*" writeTo="default" minlevel="Info" />
  </rules>
</nlog>
</configuration>