<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="clrzmq" version="3.0.0-rc1" targetFramework="net45" />
  <package id="lz4net" version="1.0.5.93" targetFramework="net45" />
  <package id="NodaTime" version="1.3.0" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
</packages>