<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.6.2" targetFramework="net47" />
  <package id="FSharp.Data" version="3.1.1" targetFramework="net47" />
  <package id="NLog" version="4.6.5" targetFramework="net47" />
  <package id="NodaTime" version="2.4.5" targetFramework="net47" />
  <package id="System.IO" version="4.3.0" targetFramework="net47" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net47" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net47" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net47" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
</packages>